.resposta{
display:flex;
height: 100px;
margin: 10px;
min-width: 500px;
width: 80%;
perspective: 1000px;
}
.respostaRevelada.conteudoResposta{
  transform: rotateY(180deg);
}
.letra{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 15px;
  color: rgb(254, 254, 255);
}
.valor{
  font-size: 1.3rem;
  font-weight: bold;

}
.conteudoResposta{
  position: relative;
  display: flex;
  flex: 1;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.frente {
  color: black;
background-color: aliceblue;
border-radius: 12px;
padding: 15px;
align-items: center;
}
.verso {
  transform: rotateY(180deg);
}
.verso > div{
display: flex;
flex: 1;
border-radius: 12px;
flex-direction: column;
justify-content: center;
align-items: center;
}
.frente, .verso {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.certa {
 background-color:#2BAA6D ;
}
.errada {
 background-color:#E44A4c ;
}
.certa .valor, .errada .valor {
  font-size: 1.5rem;
}