.resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}
.displayStatistica{   
justify-content: center;
 display: flex;
}